In [ ]:
# Dictionary AND Sets

Given two integer variables: a and b. Swap the values of the variables.
a = int(input())
b = int(input())

# write code here. Don't change given conditions

print(a, b)

Solve this problem in 3 ways

In [2]:
a = int(input())
b = int(input())

a,b = b, a

a,b

(8, 5)

In [3]:
a = int(input())
b = int(input())

c= a
a = b
b = c

a,b

(2, 1)

In [5]:
a= 1
b = 2

# c = a+b
# a = c-a
# b = c-b

# a,b

In [6]:
a = a+b
b = a-b
a = a-b

a,b

(2, 1)

In [1]:
ls = [int(input()), int(input())]
ls.reverse()
print(ls)

[2, 1]

In [ ]:
ls = [1,2]

In [15]:
list(reversed(ls))

[6, 5]

In [23]:
ls.reverse()

In [24]:
ls

[5, 6]

In [25]:
# dict consists of keys and values
d = {"id" : 1, "name": "Sarah"}

In [29]:
d = dict(red='#F00')
d

{'red': '#F00'}

In [11]:
d2 = dict((('id',3), ('name','josh')))
d2

{'id': 3, 'name': 'josh'}

In [38]:
d3 = {}
type(d3)

dict

In [11]:
colors = {
    "red" : '#FF0000',
    'green': '#0F0'
    
}

colors['green']
#colors['red']

'#0F0'

In [12]:
# hashable object - immutable - int, str, float, tuple   

d = {(1,2):'working', 'test': True}
d [1,2]
#d['test']

'working'

In [13]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
sample_dict = {'first_name': 'James', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [15]:
sample_dict

{'first_name': 'James', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [22]:
from copy import deepcopy 
test = sample_dict # reference

# test = sample_dict[:]
test = sample_dict.copy()  # Shallow copy

test = deepcopy(sample_dict) # deep copy

In [23]:
test = sample_dict.copy()

In [24]:
sample_dict['first_name'] = 'N/a'

In [25]:
test

{'first_name': 'James', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [26]:
sample_dict

{'first_name': 'N/a', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [72]:
sample_dict.fromkeys([1,2,3], ('-','-','-'))

{1: ('-', '-', '-'), 2: ('-', '-', '-'), 3: ('-', '-', '-')}

In [9]:
result = sample_dict.get('last_name')

NameError: name 'sample_dict' is not defined

In [8]:
result

NameError: name 'result' is not defined

In [82]:
sample_dict

{'first_name': 'N/a', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [85]:
ls = list(sample_dict.items())
ls[0]

('first_name', 'N/a')

In [89]:
for key, value in sample_dict.items():
    print(key, value)

first_name N/a
last_name Doe
email jdoe@gmail.com

In [5]:
name, l_name, email = sample_dict.items()
#name

NameError: name 'sample_dict' is not defined

In [95]:
name, l_name, email = sample_dict.keys()
name

'first_name'

In [96]:
name, l_name, email = sample_dict.values()
name

'N/a'

In [97]:
sample_dict.pop('last_name')

'Doe'

In [103]:
sample_dict = {'first_name': 'James', 1:'1', 'last_name': 'Doe', 'email': 'jdoe@gmail.com'}

In [16]:
sample_dict.popitem()

('email', 'jdoe@gmail.com')

In [17]:
sample_dict#.setdefault('12', '3')

{'first_name': 'James', 'last_name': 'Doe'}

In [32]:
sample_dict['age'] = 22

In [33]:
sample_dict

{'first_name': 'N/a',
 'last_name': 'Doe',
 'email': 'jdoe@gmail.com',
 '12': '1',
 'age': 22}

In [34]:
sample_dict.update({'age':20, 'isAvl': True})
sample_dict

{'first_name': 'N/a',
 'last_name': 'Doe',
 'email': 'jdoe@gmail.com',
 '12': '1',
 'age': 20,
 'isAvl': True}

In [49]:
set1 = {2,3, True, False,'sarah', 'sarah'}
set2 = set()
#type(set2)
set1

{2, 3, False, True, 'sarah'}

In [38]:
type(set1)

set

In [120]:
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [54]:
ls = [1,2,3]
ls
ls2 = [1,2,4]
ls2
set1.add(1,)
set1

{2, 3, False, True, 'sarah'}

In [55]:
set1

{2, 3, False, True, 'sarah'}

In [56]:
# hashable object for SET - immutable - int, str, float, tuple   

set1.clear()

In [55]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3 = {7,8}
set4 = {1,2}

#set1.difference(set2)
#set1.difference_update(set2)

In [28]:
set1
set2

{3, 4, 5, 6}

In [22]:
set1.discard(2)
#set1.remove(1)
set1

{3, 4}

In [32]:
#set1.intersection(set2)
set1.intersection_update(set2)
set1

{3, 4}

In [35]:
set1.isdisjoint(set3)

True

In [42]:
set4.issubset(set1)

True

In [43]:
set1.issuperset(set4)

True

In [47]:
test = {1,'2',False}
test

{1, '2', False}

In [49]:
test.pop()
test

{'2'}

In [50]:
set1.symmetric_difference_update(set2)
set1

{1, 2, 5, 6}

In [56]:
set1.union(set2) #left join
#set1
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

In [191]:
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
enumerate, zip

In [64]:
key   = [1,2]
value = ['1','2','3']

#d1 = dict(key, value)
list(zip(key, value))

[(1, '1'), (2, '2')]

In [65]:
key   = [1,2]
value = ['1','2','3']

# d1 = dict(key, value)
list(zip(key, value))

[(1, '1'), (2, '2')]

In [5]:
ls = ['name', 'age']
list(enumerate(ls, 5))

[(5, 'name'), (6, 'age')]

In [74]:
for loop_number, value in enumerate(['task1', 'task2', 'task3','task4',]):
    if loop_number%2 == 1:
        print(f'Loop number: {loop_number}, Completed: {value}')

Loop number: 1, Completed: task2
Loop number: 3, Completed: task4

In [3]:
ls = [20,3,-1,90]

#min(key)
max(ls)
#sum(ls)
type(ls)

list

In [71]:
products_sold = {
    'apple': 25,
    'drinks': 10,
    'others': 80
}

overall_products_sold = sum(products_sold.values())
overall_products_sold

115