Homework 4 : Dictionaries and Sets

1.Given two lists:
```python
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]
```
Create a dictionary mapping keys to values using a built-in function.

In [4]:
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]

result=dict(zip(keys,values)) 
print(result)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

2. Find the Maximum Value in a Dictionary
Given the dictionary:
```python
scores = {"Alice": 85, "Bob": 92, "Charlie": 78}
```
Find the name of the student with the highest score using a single built-in function.

In [31]:
scores={"Alcide":85, "Bob":95, "Charlie":78}
max_sc=max(scores.values()) 
max_sc

95

3. Find the Union of Two Sets
Given two sets:
```python
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
```
Find the union of these sets using a built-in set method.

In [32]:
a={1,2,3,4}
b={3,4,5,6}

a.union(b)

{1, 2, 3, 4, 5, 6}

4. Check if a Key Exists in a Dictionary
Given the dictionary:
```python
person = {"name": "John", "age": 30, "city": "London"}
```
Check if `"age"` exists in the dictionary without using a loop.

In [41]:
person={"name":"John", "age":30, "city":"London"}
bor_yoq="name" in person.keys()
bor_yoq

True

5. Get Unique Values from a Dictionary
Given the dictionary:
```python
grades = {"Alice": "A", "Bob": "B", "Charlie": "A", "David": "C"}
```
Extract a set of all unique grades using a single line of code.

In [48]:
grades ={"Alice":"A", "Bob":"B", "Charlie": "A", "David":"C"}

res=set(grades.values())
res

{'A', 'B', 'C'}

6. Convert a List of Tuples into a Dictionary
Given a list of tuples:
```python
pairs = [("one", 1), ("two", 2), ("three", 3)]
```
Convert it into a dictionary using a built-in function.

In [63]:
pairs = [("one", 1), ("two", 2), ("three", 3)]
result=dict(pairs)
result

{'one': 1, 'two': 2, 'three': 3}

7. Find the Minimum Value in a Dictionary
Given the dictionary:
```python
temperatures = {"Monday": 20, "Tuesday": 15, "Wednesday": 22}
```
Find the day with the lowest temperature using a single built-in function.

In [4]:
temperatures = {"Monday": 20, "Tuesday": 15, "Wednesday": 22}
result=min(temperatures.values()) 
result

15

8. Get the Difference of Two Sets
Given two sets:
```python
X = {10, 20, 30, 40}
Y = {30, 40, 50, 60}
```
Find the elements that are in `X` but not in `Y` using a set method.

In [67]:
X = {10, 20, 30, 40}
Y = {30, 40, 50, 60}
X.difference(Y)

{10, 20}

In [23]:
#count Keys
x = {'type' : 'fruit', 'name' : 'banana'}
z=len(x.keys())
z

2

In [52]:
#get function
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [55]:
#change value by key

x = {'type' : 'fruit', 'name' : 'banana'}
x["type"]="bery"
x

{'type': 'bery', 'name': 'banana'}

In [56]:
#change value by key
car =	{  "brand": "Ford",  "model": "Mustang",  "year": 1964} 
car["year"]=2020
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [4]:
#change banana to apple
x = {'type' : 'fruit', 'name' : 'banana'}
x.update({"name":"apple"})
x

{'type': 'fruit', 'name': 'apple'}

In [32]:
#Add the key/value pair "color" : "red" to the car dictionary.

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color":"red"})
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}