Homework

Count Vowels in a String

Problem:
Count the number of vowels (a, e, i, o, u) in a given string.

In [66]:
text = "hello world"

count = 0
for char in text:
    if char in "aeuioAEUIO":
        count += 1

print(f'Vowels in {text}: {count}')

Vowels in hello world: 3

In [67]:
text = "hello worldaaaaa"

vowel_unique = set()
for char in text:
    if char in "aeuioAEUIO":
        vowel_unique.add(char)

print(f'Vowels in {text}: {len(vowel_unique)}')

Vowels in hello worldaaaaa: 3

Find the Maximum Number in a List

Problem:
Find the maximum number in a list using a loop (without using max()).

In [68]:
ls = [1,6,83,6,2, -100]

max_num = 0
for num in ls:
    if num>max_num:
        max_num = num

print(f'Max number in a list: {max_num}')

Max number in a list: 83

# Functions

In [ ]:
# 4 Types of functions:
    # 1. no param/ no return-value
    # 2. param/ no return-value
    # 3. no param/ return-value
    # 4. param/ return-value

# Recursive functions

# *arg, **kwargs
# default arguments

# Function documentation

# Scope

# map, filter

In [69]:
def say_hello(name, date_birth):
    print(f'Hello {name}, You are {2025 - date_birth} years old.')


ls = say_hello('Abdulaziz', 2000)

Hello Abdulaziz, You are 25 years old.

In [70]:
ls

In [71]:
returned_value = say_hello('Abdulaziz', 2000)

Hello Abdulaziz, You are 25 years old.

In [72]:
returned_value

## 4 Types of functions:

In [74]:
# 1. no param/ no return-value
def say_hello():
    print('Hello world')

say_hello()

Hello world

In [75]:
# 1. no param/ no return-value
def say_hello():
    print('Hello world')

say_hello()

Hello world

In [76]:
# 2. param/ no return-value
def say_hello(name, date_birth):
    print(f'Hello {name}, You are {date_birth} years old.')

ls = [say_hello(date_birth='Abdulaziz', name=2005)]

Hello 2005, You are Abdulaziz years old.

In [77]:
# 3. no param/ return-value
def say_hello():
    return 'Hello world'

val = say_hello()

In [78]:
# 4. param/ return-value
def say_hello(name, date_birth):
    print('Values are returned')
    return f'Hello {name}, You are {2025 - date_birth} years old.'

val = say_hello('Abdulaziz', 2010)

Values are returned

In [79]:
second_name_for_sayhello = say_hello
second_name_for_sayhello()

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'date_birth'

In [ ]:
# 1,2,3,5,7,11...

def is_prime(num):
    for sub_num in range(2, num):
        if num%sub_num == 0:
            return False
    return True

for num in range(1, 150):
    print(num, is_prime(num))

1 True
2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False
10 False
11 True
12 False
13 True
14 False
15 False
16 False
17 True
18 False
19 True
20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False
41 True
42 False
43 True
44 False
45 False
46 False
47 True
48 False
49 False
50 False
51 False
52 False
53 True
54 False
55 False
56 False
57 False
58 False
59 True
60 False
61 True
62 False
63 False
64 False
65 False
66 False
67 True
68 False
69 False
70 False
71 True
72 False
73 True
74 False
75 False
76 False
77 False
78 False
79 True
80 False
81 False
82 False
83 True
84 False
85 False
86 False
87 False
88 False
89 True
90 False
91 False
92 False
93 False
94 False
95 False
96 False
97 True
98 False
99 False
100 False
101 True
102 False
103 True
104 False
105 False
106 False
107 True
108 False
109 True
110 False
111 False
112 False
113 True
114 False
115 False
116 False
117 False
118 False
119 False
120 False
121 False
122 False
123 False
124 False
125 False
126 False
127 True
128 False
129 False
130 False
131 True
132 False
133 False
134 False
135 False
136 False
137 True
138 False
139 True
140 False
141 False
142 False
143 False
144 False
145 False
146 False
147 False
148 False
149 True

In [ ]:
# Fibonacci
# 0,1,1,2,3,5,8,13,21, 34, 55, 89

# fibonacci(6) -> 13
# a_n+1 = a + a_n-1


def fibonacci(num):
    if num == 0 or num == 1:
        return 1
    return fibonacci(num-1) + fibonacci(num-2)

fibonacci(10)
# recursive function

89

In [ ]:
# arguments - *args             - tuple
# keyword-arguments - **kwargs  - dict

In [ ]:

# def say_hello(name1, name2, *args):
#     print(f'Hello {name1}')
#     print(f'Hello {name2}')

def say_hello(*names):
    for name in names:
        print(f'Hello {name}')


say_hello('John', 'Sarah', 'Andy', 'Ali')

Hello John
Hello Sarah
Hello Andy
Hello Ali

In [ ]:
def print_details(**details):
    for key, value in details.items():
        print(f'{key}: \t{value}')

print_details(age=20, name='Josh', is_avaliable=True)

age: 	20
name: 	Josh
is_avaliable: 	True

In [ ]:
max(1,2,3,4)

4

In [90]:
def print_details(name='', age=0, *companies_worked, **extra_details):
    print(f'Hello {name}, you are {age} years old.')
    if companies_worked:
        print("Companies you have worked: ",", ".join(companies_worked))
    
    if extra_details.get('email'):
        print('Email:', extra_details.get('email'))

# print_details('Josh', 20, 'Google', 'Amazon', 'Akfa', e='josh@microsoft.com')
print_details()

Hello , you are 0 years old.

In [ ]:
t = ()
if t:
    print('Tuple is not empty')

In [ ]:
def say_hello(age, names='n/a'):
    if names == 'n/a':
        print('no values was given')
        return None
    return f'hello {names}'

say_hello('Holly')

no values was given

In [ ]:
# Function documentation
def say_hello(name:str, age:int) -> tuple:
    """ This is a function prints "Hello {name}"""
    print(f'Hello {name}')

say_hello

In [ ]:
def say_h(name, age):
    print(f'Hello {name}')
    return name

say_h

In [ ]:
# Scope
x = 5

def test():
    global x
    print(x)
    y = 5



# test(3)
print(y)

NameError: name 'y' is not defined

In [96]:
def square(num:int) -> int:
    return num**2

square(5)

25

In [97]:
square_2 = lambda num: num**2

square_2(8)

64

In [ ]:
map(), filter()

In [103]:
ls = range(1,50)

ls_squared = map(lambda num: num**2, ls)

In [104]:
list(ls_squared)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [105]:
def is_prime(num):
    for sub_num in range(2, num):
        if num%sub_num == 0:
            return False
    return True

prime_numbers = list(filter(is_prime, list(range(1, 101))))

In [106]:
prime_numbers

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]