In [4]:
def greeting(name):
    print(f'Hello {name}')
    return 5

In [6]:
greeting('Josh')

Hello Josh

5

In [9]:
add = lambda x, y: x + y
add(3, 4)

7

In [12]:
numbers = [1, 2, 3, 4]
sq = map(lambda x: x**2, numbers)
tuple(sq)

(1, 4, 9, 16)

In [15]:
from datetime import datetime

In [8]:
def show_date():
    print(datetime.now())

In [9]:
show_date()

NameError: name 'datetime' is not defined

In [19]:
def sum_numbers(*args):
    print(sum(args))

In [24]:
sum_numbers(12, 14, 9, 8)

43

In [25]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [30]:
info(Name = 'Abdulla', age = 45, address = 'Tashkent')

Name: Abdulla
age: 45
address: Tashkent

In [31]:
def is_even(numbers):
    if numbers % 2 == 0:
        return True
    else:
        return False

In [34]:
is_even(11)

False

## File handling, Exception Handling

In [47]:

with open('info.txt') as test:
    for i in test:
        print(i.replace('\n', ''))

Hello, my name is Abdulla
I live in Tashkent

In [48]:
with open('info.txt') as test:
    data = test.read()
    print(data)

Hello, my name is Abdulla
I live in Tashkent

In [49]:
with open('info.txt', 'r') as test:
    data = test.read()
    print(data)

Hello, my name is Abdulla
I live in Tashkent

In [58]:
with open('C:\\Users\\User\\Desktop\\www.txt', 'r') as test:
    data = test.read()
    print(data)

Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test
Test

In [56]:
with open('C:\\Users\\User\\Desktop\\lesson_8.txt', 'w') as test:
    test.write('Hi my name is Abdulla\nI am learning Python')

In [60]:
with open('lesson_8.txt', 'a') as test:
    test.write('\nI know SQL')

create a function with 3 parameters (file name, text, 5)

In [70]:
def write_to_a_file(fileName, text, number):
    with open(fileName, 'w') as test:
        for i in range(number):
            test.write(f'{text}\n')

In [71]:
write_to_a_file('lesson_8.txt', 'Python', 10)

In [72]:
def write_to_a_file(fileName, text, number):
    with open(fileName, 'w') as test:
        test.write(f'{text}\n' * number)

In [73]:
write_to_a_file('lesson_8.txt', 'SQL', 5)

In [82]:
with open('lesson_8.txt', 'w+') as test:
    test.write('Hello')
    test.seek(0)
    data = test.read()
    print(data)

Hello

In [88]:
with open('lesson_8.txt', 'a+') as test:
    test.write('\nworld')
    test.seek(0)
    data = test.read()
    print(data)

Hello
 world
world

## Exception Handling

In [89]:
age = 15
if age<17:
    raise ValueError('You are not allowed')

ValueError: You are not allowed

In [90]:
print(8/0)

ZeroDivisionError: division by zero

In [97]:
try:
    print(8/0)
except ZeroDivisionError as t:
    with open('Lesson_8.txt', 'w') as test:
        test.write(str(t))

In [101]:
my_list = [1, 2, 3]
for i in range(4):
    print(my_list[i])

1
2
3

IndexError: list index out of range

In [104]:
try:
    my_list = [1, 2, 3]
    for i in range(4):
        print(my_list[i])
except Exception as t:
    with open("lesson_8.txt", 'w') as test:
        test.write(str(t))

1
2
3

In [ ]:
try:
    print(8/0)
except ZeroDivisionError:
    print('Value error')
except ZeroDivisionError as t:
    with open('Lesson_8.txt', 'w') as test:
        test.write(str('Hello'))

In [109]:
info = {'name': 'Alex', 'Age': 30}

info['country']

KeyError: 'country'

In [119]:
try:
    info['country']
except Exception as t:
    with open('lesson_8_.xlsx', 'w') as test:
        test.write(str(t))
finally:
    print('Finished')

Finished

In [120]:
with open('lesson_9.txt', 'r') as test:
    data = test.read()

FileNotFoundError: [Errno 2] No such file or directory: 'lesson_9.txt'

In [121]:
try:
    with open('lesson_9.txt', 'r') as test:
        data = test.read()
except FileNotFoundError as f:
    with open('lesson_8.txt', 'w') as test2:
        test2.write(f'FileNotFoundError: {str(f)}')

In [124]:
try:
    with open('lesson_9.txt', 'r') as test:
        data = test.read()
except Exception as t:
    print(t)

[Errno 2] No such file or directory: 'lesson_9.txt'