## Databases

In [1]:
import sqlite3

In [2]:
import sqlite3

con = sqlite3.connect('test.db')

In [3]:
type(con)

sqlite3.Connection

In [5]:
cursor = con.cursor()

type(cursor)

sqlite3.Cursor

In [12]:
query = "Select datetime('now', 'localtime')"

result = cursor.execute(query)

print(result)

<sqlite3.Cursor object at 0x00000286588FD240>

In [13]:
rows = result.fetchone()

rows

('2025-03-05 20:03:45',)

In [14]:
t = rows[0]
t

'2025-03-05 20:03:45'

In [15]:
con.close()

In [16]:
with sqlite3.connect('test.db') as con:
    cursor = con.cursor()
    query = "Select datetime('now', 'localtime')"
    result = cursor.execute(query)
    rows = result.fetchone()
    t = rows[0]
    

t

'2025-03-05 20:08:41'

In [ ]:
import sqlite3

create_table = """
Create table People 
(FirstName TEXT, LastName TEXT, Age INT);
"""
insert_table = """
Insert into People values
('Bob', 'Johnson', 35),
('Alex', 'Robertson', 24);
"""

con = sqlite3.connect('test.db')
cursor = con.cursor()
cursor.execute(create_table)
cursor.execute(insert_table)
con.commit()
con.close()

In [58]:
con = sqlite3.connect('test.db')
cursor = con.cursor()
query = 'Select FirstName, LastName, Age from People'
result = cursor.execute(query)
result.fetchone()

('Bob', 'Johnson', 35)

In [64]:
import sqlite3
connection = sqlite3.connect('l15.db', timeout=10)
cursor.execute('DROP TABLE if exists People;')
con.commit()
con.close()

In [ ]:
import sqlite3


create_table = """
drop table if exists people;
Create table People 
(FirstName TEXT, LastName TEXT, Age INT);
"""
insert_table = """
Insert into People values
('Bob', 'Johnson', 35),
('Alex', 'Robertson', 24);
"""

with sqlite3.connect('test.db') as con:
    cursor = con.cursor()
    cursor.executescript(create_table)

OperationalError: database is locked

In [67]:
import sqlite3 

with sqlite3.connect('l15.db') as con:
    people_values = (('Bob', 'Alex', 26), ('Tom', 'Smith', 44))
    cursor = con.cursor()
    result = cursor.executemany("insert into people values (?, ?, ?)", people_values)
    
result.fetchall()

[]

In [63]:
import sqlite3 

first_name = input('Enter your First Name: ')
last_name = input('Enter your Last Name: ')
age = input('Enter your age: ')

query = (
    "Insert into People values"
    f"('{first_name}', '{last_name}', {age});"
)

with sqlite3.connect('l15.db') as con:
    cursor = con.cursor()
    cursor.execute(query)

In [69]:
result = cursor.execute("Select * from people where age = 26")

result.fetchall()

[('Bob', 'Alex', 26), ('Bob', 'Alex', 26)]

In [71]:
import sqlite3
values = (
    ("Ron", "Obvious", 42),
    ("Luigi", "Vercotti", 43),
    ("Arthur", "Belling", 28),
)
with sqlite3.connect("l15.db") as connection:
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS People")
    cursor.execute("""
        CREATE TABLE People(
        FirstName TEXT,
        LastName TEXT,
        Age INT
        );"""
    )
cursor.executemany("INSERT INTO People VALUES(?, ?, ?);", values)
# Select all first and last names from people over age 30
cursor.execute(
"SELECT FirstName, LastName, Age FROM People WHERE Age > 30;"
)
for row in cursor.fetchall():
    print(row)

('Ron', 'Obvious', 42)
('Luigi', 'Vercotti', 43)