1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

In [8]:
import sqlite3

con=sqlite3.connect('test.db')

In [9]:
import sqlite3

create_table="""
Create table Roster (Name TEXT, Species TEXT, Age int)
"""

with sqlite3.connect('test.db') as con:
    cursor=con.cursor()
    cursor.executescript(create_table)

OperationalError: table Roster already exists

2.Populate your new table with the following values:

Name	        Species	Age
Benjamin Sisko	Human	40
Jadzia Dax	    Trill	300
Kira Nerys	    Bajoran	29

In [ ]:
import sqlite3
with sqlite3.connect('test.db') as con:
    insert_value=(('Benjamin Sisko','Human',40),('Jadzia Dax','Trill',300),('Kira Nerys','Bajoran',29))
    cursor=con.cursor()
    result=cursor.executemany("insert into roster values(?,?,?)",insert_value)
result

In [14]:
import sqlite3

with sqlite3.connect('test.db') as con:
    insert_val=(('Abbos','Otakulov',27),('Davlat','Ergoziev',38),('Mirzohid','Choriev',24))
    cursor=con.cursor()
    result=cursor.executemany("insert into roster values (?,?,?)",insert_val) 
result

3.Update the Name of Jadzia Dax to be Ezri Dax

In [23]:
import sqlite3


with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute("UPDATE Roster SET Name = ? WHERE Name = ?", ("Ezri Dax", "Jadzia Dax"))
    conn.commit()

print("Updated successfully!")

Updated successfully!

In [34]:
import sqlite3

with sqlite3.connect('test.db') as con:
    cursor=con.cursor()
    cursor.execute("Delete from Roster where name=? ", ('Mirzohid',))
    con.commit()
    print("Deleted successfully!")

Deleted successfully!

4.Display the Name and Age of everyone in the table classified as Bajoran.

In [45]:
import sqlite3

with sqlite3.connect('test.db') as con:
    cursor=con.cursor()
    cursor.execute('select name, age from roster where Species=?',('Bajoran',))
    result=cursor.fetchall()
    result

for name, age in result:
    print(f'Name is:{name}, age is: {age}')

Name is:Kira Nerys, age is: 29