## Conditional statements

In [21]:
dict1 = {'Name': 'Bob', "age": 20}

In [3]:
type(dict1)

dict

In [4]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
dict1.update([('Name', 'Sara')])

In [23]:
dict1

{'age': 20}

In [20]:
dict1.clear()

In [27]:
b = list(dict1.values())

In [28]:
b[0]

20

In [29]:
set1 = {1, 2, 3, 4, 4}

In [32]:
ls1 = [1, 2, 'Bob', 3]

In [33]:
set2 = set(ls1)

In [35]:
set2.add('Alex')

In [40]:
set2.add('Tom')

In [51]:
set2

set()

In [45]:
set2.remove('Josh')

KeyError: 'Josh'

In [48]:
set2.discard(4)

In [50]:
set2.clear()

In [62]:
first_set = {'one', 'two', 'three'}
second_set = {'orange', 'banana', 'peach'}

In [65]:
first_set.issuperset(second_set)

False

In [59]:
dir(set2)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [69]:
s1 = {2, 3}
s2 = {2, 3, 4}

s1.issubset(s2)

True

Homework 1

In [71]:
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]

dict2 = dict(zip(keys, values))

In [72]:
dict2

{'name': 'Alice', 'age': 25, 'city': 'New York'}

Homework 2

In [79]:
scores = {"Alice": 85, "Bob": 92, "Charlie": 78}

y = max(scores, key=scores.get)

In [80]:
y

'Bob'

Homework 3

In [81]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

A.union(B)

{1, 2, 3, 4, 5, 6}

Homework 4

In [90]:
person = {"name": "John", "age": 30, "city": "London"}

u = 'age' in person.keys()

In [91]:
u

True

Homework 5

In [94]:
grades = {"Alice": "A", "Bob": "B", "Charlie": "A", "David": "C"}

l = set(grades.values())

In [96]:
l

{'A', 'B', 'C'}

Homework 6

In [98]:
pairs = [("one", 1), ("two", 2), ("three", 3)]

d = dict(pairs)

In [99]:
d

{'one': 1, 'two': 2, 'three': 3}

Homework 7

In [105]:
temperatures = {"Monday": 20, "Tuesday": 15, "Wednesday": 22}

m = min(temperatures.values())

In [106]:
m

15

Homework 8

In [108]:
X = {10, 20, 30, 40}
Y = {30, 40, 50, 60}

X.difference(Y)

{10, 20}

## Boolean operators

In [ ]:
True == 1

SyntaxError: cannot assign to True (1770609971.py, line 1)

In [ ]:
False = 0

True

In [118]:
bool('12')

True

In [121]:
bool('')

False

In [123]:
bool([1, 2, 3, 4])

True

In [ ]:
# None

In [124]:
True == None

False

In [125]:
None == 3

False

In [126]:
None ==0

False

In [127]:
None == None

True

In [134]:
x = None
y = None

In [129]:
type(None)

NoneType

In [135]:
id(x)

140719279511544

In [136]:
id(y)

140719279511544

Conditional Statements

In [137]:
a = 2
b = 3
a == b

False

In [138]:
a  > b

False

In [139]:
a < b

True

In [140]:
a >=b

False

In [ ]:
a <= b

True

In [142]:
a != b

True

In [149]:
authenticated = True

In [147]:
authenticated

False

In [152]:
if authenticated:
    print('You are logged in')
else:
    print('You are not logged in')

You are logged in

In [155]:
age = 9

if age < 10:
    print('You are child')
elif age > 10 and age < 19:
    print('You are teenager')
else:
    print('You are adult')

You are child

In [161]:
age = 18
car = 'Hundai'

if age >= 18:
    if car in ['Honda', 'Toyota']:
        print('You buy Japanese cars')
    elif car in ['Ford', 'Chevrolet']:
        print('You buy American Cars')
    elif car not in ['Honda', 'Toyota', 'Ford', 'Chevrolet']:
        print('your car is not in list')
elif age <18:
    print('You are not allowed to drive')

your car is not in list

## Logical operators(and, or, not)

In [171]:
age = 18
car = 'Ford'

if age >=18 and car not in ['Honda','Toyota']:
    print('You buy Japanese cars')
elif age >=18 and car not in ["Ford", 'Chevrolet']:
    print('You buy American Cars')
else:
    print('You are not allowed to drive')

You buy Japanese cars

In [167]:
authenticated = False

In [169]:
if not authenticated:
    print('You are not logged in')
else:
    print('You are logged in')

You are not logged in

## Special operators (is, is not, in, not in)

In [173]:
x = [1, 2, 3]
y = [1, 2, 3]

x == y

True

In [174]:
x is y

False

In [175]:
id(x)

1598833469760

In [176]:
id(y)

1598833516160

In [189]:
x = 'Helloworld'
y = 'Helloworld'
x == y

True

In [192]:
x is y

True

In [181]:
x = 'Hi'
y = 'Hi'

In [ ]:
x == y

True

In [183]:
x is y

True

In [190]:
id(x)

1598834244016

In [191]:
id(y)

1598834244016

In [197]:
chars = '123'
my_char = '2'

if my_char in chars:
    print('Hello world')
else:
    print('Bye world')

Hello world

In [2]:
my_list = [1, 2, 3, 4]
7 in my_list

False

In [ ]:
score = float(input('Enter your score'))

if score >=90:
    print('A')
elif score >=80:
    print('B')
elif score >=70:
    print('C')
else:
    print('Fail')

A

In [241]:
import random
# Rock Paper Scissors ASCII Art

rock = """
    _______
---'   ____)
      (______)
      (______)
      (_____)
---.__(____)
"""

paper = """
     _______
---'    _____)_____
           ________)
          _________)
         _________)
---.____________)
"""

scissors = """
    _______
---'   ____)_____
          _______)
       ___________)
      (_____)
---.__(____)
"""

user_choice = int(input('What do you choose? \n0 is rock \n1 is paper \n2 is scissors'))
comp_choice = random.randint(0, 2)

print('You chose:')
if user_choice >=3 or user_choice < 0:
    raise ValueError('You are not following the rules')
elif user_choice == 0:
    print(rock)
elif user_choice == 1:
    print(paper)
elif user_choice == 2:
    print(scissors)

print('Computer chose:')
if comp_choice >=3 or comp_choice < 0:
    raise ValueError('You are not following the rules')
elif comp_choice == 0:
    print(rock)
elif comp_choice == 1:
    print(paper)
elif comp_choice == 2:
    print(scissors)

if (user_choice == 0 and comp_choice ==1) or (user_choice == 1 and comp_choice ==0)  or (user_choice == 2 and comp_choice ==1):
    print('You won!')
elif user_choice == comp_choice:
    print('Draw')
else:
    print ("Computer won")

You chose:

ValueError: You are not following the rules

In [227]:
import random

random.randint(0, 10)

6

In [244]:
number = int(input('Son kiriting: '))

if number > 0:
    print(f'{number} is positive')
elif number <0:
    print(f'{number} is negative')
else:
    print(f'{number} is Zero')

-3 is negative

In [5]:
#1.Write a program that will check evennes of given number

x=int(input("Enter one number:"))

if x%2==0:
    print("It is Even number")
else:
    print("It is Odd number!")

It is Odd number!

In [8]:
#2.From given 3 numbers from input, find the biggest number
x=int(input("Enter number for x:"))
y=int(input("Enter number for y:"))
z=int(input("Enter number for z:"))

if x>y and x>z:
    print(f'{x} is the biggest')
elif y>x and y>z:
    print(f'{y} is the biggest')
else: print(f'{z} is the biggest')

7 is the biggest

In [13]:
#3.Write a program that will find if the number is vowel (aeiou) or consonant
x=input("Enter one letter:")

if x in ['a','e','i','o','u']:
    print(f'{x} is vowel letter!')
else: print(f'{x} is consonant letter')

d is consonant letter