## Homeworks

In [3]:
# 1) CHeck for evenness

a = int(input('Enter a number: '))
if a%2==0:
    print(f'{a} is even')
else:
    print(f'{a} is odd')

ValueError: invalid literal for int() with base 10: 'a'

In [5]:
# 2) Largest of three numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b and a > c:
    print(f'the largest number is {a}')
elif b > a and b > c:
    print(f'The largest number is {b}')
else:
    print(f'The largest number is {c}')

The largest number is 5

In [10]:
# 3) vowel or consonant
char = input('Enter a character: ').lower()

if char in 'aeiou':
    print(f'{char} is vowel')
else:
    print(f'{char} is consonant')

n is consonant

Loops(for loop and while loops)
comprehension(list, dictionary, set)

In [ ]:
for x in iterable

In [11]:
ls = [1, 2, 3]

for x in ls:
    print(x)

1
2
3

In [13]:
for item in ls:
    print(item**2)

1
4
9

In [18]:
for item in ls:
    if item%2==1:
        print(f'{item} is odd')
    else:
        print(f'{item} is even')

1 is odd
2 is even
3 is odd
4 is even

In [21]:
a = 'Abdulla'
for b in a:
    print(b)

A
b
d
u
l
l
a

In [22]:
users = {'mdriscoll': 'password', 
         'guido': 'python', 
         'steve': 'guac', 
         'ethanf': 'enum'}

In [24]:
for y in users:
    print(y)

mdriscoll
guido
steve
ethanf

In [28]:
for keys, values in users.items():
    print(f'{keys} - {values}')

mdriscoll - password
guido - python
steve - guac
ethanf - enum

In [33]:
list_of_tuples = [(1, 'banana'), (2, 'apple'), (3, 'pear')]

for x, y in list_of_tuples:
    print(f'{y}')

banana
apple
pear

In [34]:
a

'Abdulla'

In [35]:
for numbers, letters in enumerate(a):
    print(f'{numbers} - {letters}')

0 - A
1 - b
2 - d
3 - u
4 - l
5 - l
6 - a

In [37]:
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

for x, y in zip(languages, versions):
    print(f'{x} - {y}')

Java - 14
Python - 3
JavaScript - 6

## While

In [ ]:
while True:
    print('Hello world')

In [41]:
count = 0
while count<=10:
    print(count)

    count +=1

0
1
2
3
4
5
6
7
8
9
10

In [47]:
count = 0
while count <=10:
    print(count)
    if count == 4:
        break
    count +=1

0
1
2
3
4

In [50]:
list_of_tuples

for number, value in list_of_tuples:
    print(value)
    if value == 'apple':
        break

banana
apple

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
for number in range(0, 11):
    if number % 2 == 1:
        continue
    print(number)

0
2
4
6
8
10

In [78]:
for number in ls:
    if number == 4:
        print('we found 4')
        break
    print(number)
else:
        print('5 is not found')

1
2
3
we found 4

In [85]:
nested = [['mike', 12], ['jan', 15], ['alice', 8]]

for x in nested:
    print(x)
    for name in x:
        print(name)

['mike', 12]
mike
12
['jan', 15]
jan
15
['alice', 8]
alice
8

In [86]:
x = ['mike', 12]

for b in x:
    print (b)

mike
12

## using while loop, find me even numbers from 2 to 10

In [ ]:
num = 2
while num <=10:
    #if num % 2==0:
    print(num)
    num += 2

2
4
6
8
10

Multiplication table

In [97]:
num = 5

for u in range(1, 11):
    print(f'{num} x {u} = {num * u}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Comprehensions

In [99]:
sequence = [1, 2, 4]
new_list = [x for x in sequence] 
new_list

[1, 2, 4]

In [100]:
sequence = [1, 2, 3]
new_list = []
for x in sequence:
    new_list.append(x)
new_list

[1, 2, 3]

In [101]:
sequence = [1, 2, 3]
new_list = [x**2 for x in sequence]

new_list

[1, 4, 9]

In [102]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
odd_numbers = [x for x in range(0, 11) if x % 2==0]

odd_numbers

[0, 2, 4, 6, 8, 10]

In [114]:
words = ["Python", "is", "fun"]

first_letters = [word[0] for word in words]

first_letters

['P', 'i', 'f']

In [117]:
words = ["apple", "banana", "cherry"]
length = [len(word) for word in words]
length

[5, 6, 6]

In [ ]:
{key: value for key, value in iteration}

In [120]:
{key: value for key, value in enumerate('abcd')}

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [124]:
my_list = list('aabbrrtty')


my_set = {item for item in words}
type(my_set)

set

f = (c *9/5) + 32

In [130]:
celsius = [0, 10, 20, 30, 40]


f = [(f*9/5) + 32 for f in celsius]

f

[32.0, 50.0, 68.0, 86.0, 104.0]

[32.0, 50.0, 68.0, 86.0, 104.0] is Farangaet

Reverse given string using for loop

In [ ]:
text = 'Python'